@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Mengaktifkan varian dark mode berbasis class untuk Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* Mengatur transisi warna dasar body */
body {
  background-color: #050816;
  color: #F8FAFC;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Jika class 'dark' dilepas dari tag html (Light Mode) */
html:not(.dark) body {
  background-color: #F8FAFC !important;
  color: #0F172A !important;
}